@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html{
    font-size: 62.5%;
}
body{
    font: 1.6rem 'Lobster',sans-serif;
    margin: 0;
    background-color: rgba(52, 152, 219,0.1);
    
}
h1,h2,h3,p,ul,ol,figure{
    margin: 0;
    padding: 0;
    list-style: none;
}
*{
    box-sizing: border-box;
}
header{
    margin: auto;
}
header h1{
    text-align: center;
    border: solid .1rem #ccc;
    padding: 2rem;
    background-color: #4682B4;
    color: #fff;
}
section{
    text-align: center;
    margin-top: 5rem;
    color: #4682B4;
}
fieldset{
    margin: 0 auto;
    width: 60rem;
    border-radius: 1rem;
    
}
main fieldset{
    font: 1.6rem 'Open sans',sans-serif;
    
}

form input{
    width: 100%;
    padding: .5rem;
}

footer{
    text-align: center;
    margin: 1rem;
    font: 1.6rem 'Open sans',sans-serif;
}